layout {
    tab name="neovim" focus=true {
        pane 
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="runner" {
        pane
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
}

